<!DOCTYPE html>
<html>
<head>
    <title>RoboPick Control</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <h1>Welcome To Robopick</h1>
    <form action="/records" method="POST">
    <label for="Start Row">Start Row</label>
    <input type="number" name="start row">
    <label for="Start Column">Start Column</label>
    <input type="number" name="start column">
    <label for="End Row">End Row</label>
    <input type="number" name="end row">
    <label for="End Column">End Column</label>
    <input type="number" name="end column">
    <input type="submit" id="submit">
    </form>
</body>
</html>