<!DOCTYPE html>
<html>
<head>
    <title>RoboPick Control</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.1">
</head>
<body>
    <h1>Welcome To Robopick</h1>
    <form action="/" method="POST">
    <label for="Start Row">Start Row</label>
    <input type="number" name="startR">
    <label for="Start Column">Start Column</label>
    <input type="number" name="startC">
    <label for="End Row">End Row</label>
    <input type="number" name="endR">
    <label for="End Column">End Column</label>
    <input type="number" name="endC">
    <input type="submit" id="submit">
    </form>
</body>
</html>